<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VideoControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VideoControl.Properties.Settings>
            <setting name="Soundcard1" serializeAs="String">
                <value />
            </setting>
            <setting name="Soundcard2" serializeAs="String">
                <value />
            </setting>
            <setting name="enable1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enable2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Logo1" serializeAs="String">
                <value />
            </setting>
            <setting name="Logo2" serializeAs="String">
                <value />
            </setting>
            <setting name="Logo3" serializeAs="String">
                <value />
            </setting>
            <setting name="Logo4" serializeAs="String">
                <value />
            </setting>
            <setting name="Soundcard3" serializeAs="String">
                <value />
            </setting>
            <setting name="Soundcard4" serializeAs="String">
                <value />
            </setting>
            <setting name="enable3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enable4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rotation1" serializeAs="String">
                <value />
            </setting>
            <setting name="rotation2" serializeAs="String">
                <value />
            </setting>
            <setting name="rotation3" serializeAs="String">
                <value />
            </setting>
            <setting name="rotation4" serializeAs="String">
                <value />
            </setting>
            <setting name="togglesound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="toggletime" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="Soundcard1a" serializeAs="String">
                <value />
            </setting>
            <setting name="Soundcard2a" serializeAs="String">
                <value />
            </setting>
            <setting name="Soundcard3a" serializeAs="String">
                <value />
            </setting>
            <setting name="Soundcard4a" serializeAs="String">
                <value />
            </setting>
        </VideoControl.Properties.Settings>
    </userSettings>
</configuration>